.pro-box{
  border: 1px solid #cacaca;
  .pro-title{
    text-align: center;
    border-bottom: 1px solid #cacaca;
    line-height: 40px;
    height: 40px;
  }
  .pro-num{
    text-align: center;
    line-height: 40px;
    height: 40px;
  }
}
