body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fff;
    font-size: 14px;
    .layout{
        position: fixed;
        left:0;
        right:0;
        top:0;
        bottom:0;
        background: #666;
    }
  }
.clearfix:after{
    content: "." ; 
    display: block ;
    height: 0 ;
    clear: both ;
    visibility: hidden ;  
}
.lf{
    float: left;
}
.rt{
    float: right;
}
.blue{
    color:#1890ff;
}
